:root {
	--container-width: 1320px;
	--container-padding: 15px;

	--font-main: 'Blender Pro', sans-serif;

	--page-bg: linear-gradient(114deg, #430F54 0%, #1C0634 89.47%);
	--text-color: #fff;
	--accent: #E525CB;
	--white: #fff;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}