.footer {
	padding-bottom: 50px;
	@media screen and (min-width: 1101px) {
		padding: 50px 0;
	}

	/* .footer__container */

	&__container {
		display: flex;
		align-items: center;
		@media screen and (min-width: 1101px) {
			justify-content: space-between;
		}

		@media screen and (max-width: 1100px) {
			flex-direction: column;
			gap: 50px;
		}
	}

	/* .footer__body */

	&__body {
		display: flex;
		align-items: center;
		@media screen and (max-width: 1100px) {
			text-align: center;
			flex-direction: column;
			gap: 30px;
		}
	}

	/* .footer__logo */

	&__logo {
		display: flex;
		align-items: center;
		gap: 15px;
		max-width: 425px;
		
		@media screen and (min-width: 1101px) {
			border-right: 2px solid #E525CB;
			margin-right: 25px;
			padding: 10px 15px 10px 0px;
		}
	}

	/* .footer__logo-img */

	&__logo-img {
		img {
			border-radius: 9px;
		}
	}

	/* .footer__logo-text */

	&__logo-text {
		display: none;
		font-size: 20px;
		font-weight: 500;
		line-height: 100%;
		color: white;

		span {
			font-weight: 700;
			line-height: 100%;
			color: var(--accent);
		}

		@media screen and (min-width: 486px) {
			display: block;
		}
	}

	/* .footer__menu */

	&__menu {}

	/* .footer__links-body */

	&__links-body {
		@media screen and (max-width: 1100px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	/* .footer__links */

	&__links {
		display: flex;
		gap: 15px;
		margin-bottom: 50px;
		@media screen and (min-width: 1101px) {
			margin-bottom: 14px;
		}
	}

	/* .footer__link */

	&__link {
		display: flex;
		align-items: center;
		gap: 10px;
		color: var(--white);
		opacity: 0.5;
		transition: all 0.3s ease;

		&:hover {
			opacity: 1;
		}

		&.privacy-policy {
			font-size: 12px;
			line-height: normal;
			@media screen and (max-width: 1100px) {
				font-size: 16px;
				margin-bottom: 15px;
			}
		}
	}
}

.footer-menu {

	/* .footer-menu__list */

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		@media screen and (min-width: 1101px) {
			margin-bottom: 15px;
		}
	}

	/* .footer-menu__item */

	&__item {}

	/* .footer-menu__link */

	&__link {
		color: var(--white);
		opacity: 0.5;
		transition: all 0.3s ease;

		&:hover {
			opacity: 1;
		}
	}

	/* .footer-menu__copyright */

	&__copyright {
		font-size: 12px;
		font-weight: 700;
		line-height: normal;
		opacity: 0.5;
	}
}